<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/student.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header-wrapper">
                <h1>STUDY CENTER</h1>

                <button class="logOut" id="logOut">Log out</button>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="main-wrapper1">
                <ul class="main-list">
                    <li class="main-item" id="teachers">O'quvchilar</li>
                </ul>
            </div>

            <ul id="teachers-list" class="teachers-list">
                <h2>
                    O'quvchilar ro'yxati:
                </h2>
                <li class="teachers-item teachers-item__top">
                    <p class="teachers-item_text1">ID</p>

                    <p class="teachers-item_text2">Name</p>

                    <p class="teachers-item_text3">Password</p>
                </li>
                <% for(var i=0; i < filterStudents.length; i++) { %>
                <li class="teachers-item">
                    <p class="teachers-item_text1">
                        <%= filterStudents[i].id %>
                    </p>
                    <p class="teachers-item_text2">
                        <%= filterStudents[i].name %>
                    </p>
                    <p class="teachers-item_text3">
                        <%= filterStudents[i].password %>
                    </p>
                </li>
                <% } %>
            </ul>
        </div>
    </main>
    <script src="js/student.js"></script>
</body>
</html>